@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");

body,html {
    height: 100%;
}
/*------------Header section------------------------------------------*/

.navbar navbar-toggler-icon {
  color: rgba(0, 0, 0, 0.5);
}

.navbar {
  overflow: hidden;
  background-color: #f53e75;
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
}

.navbar-brand {
  font-weight: bolder;
}

.navbar a:hover {
  background: #ddd;
  color: black
}

/*------------Body section--------------------------------------------*/

body {
    background: url('/static/images/pawprints.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 364px);
    color: #f53e75;
    font-family: 'Roboto';
}
.img {
     width: 400px;
     height: 400px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}

h2 {
    margin-top: 10px;
    padding-top: 20px;
}
#set1,
#set2,
#set3,
#set4,
#set5,
#set6,
#set7,
#set8{
    padding-top: 50px;
}



.hero-title{
  color: #fff;
  font-weight: bolder;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  position: absolute;
}
@media screen and (max-width:992px){
    .header-container{
        padding-top: 60px;
    }
}


/*-------------social media section-----------------------------------------*/

.media-contact {
  background-color:  #f53e75;
  color: whitesmoke;
}

.media-contact i {
  padding: 5px 0px 5px 0px;
  color: whitesmoke;
  font-size: 130%;
  margin: auto;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.media-contact i:hover {
  background: red;
  font-size: 180%;
}

.media-contact h5 {
  margin-bottom: 2px;
  font-size: 16px;
  letter-spacing: 1px;
}

.media-contact p {
  font-size: 12px;
}
